<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="harrywinston.com.baseTest.ListenersTest" />
	</listeners>
	<test thread-count="5" name="Schedule Appointment">
		<classes>
			<class name="harrywinston.com.test.Test" />
		</classes>
	</test>
</suite> 